<form method="post"  action="">
  <div class="form-group mt-3 ml-4">
    <label for="exampleInputEmail1">Tìm kiếm</label>
    
    <input type="text" class="form-control" id="exampleInputEmail1"   name="q" aria-describedby="emailHelp" placeholder="Search...">
    
  </div>

    <div class="form-group mt-3 ml-4">
        <label for="exampleInputEmail1">Lựa chọn giới tính</label>
        <select name="gender" id="">
            <option value="">---Chọn giới tính</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
            
        </select>
        
        
    </div>

    <button type="submit" class="btn btn-primary mt-1 ml-4">Search</button>
  
</form>