<form method="get"  action="news">
  <div class="form-group mt-3 ml-4">
    <label for="exampleInputEmail1">Tìm kiếm</label>
    
    <input type="text" class="form-control" id="exampleInputEmail1"   name="q" aria-describedby="emailHelp" placeholder="Search...">
    
  </div>
    <button type="submit" class="btn btn-primary mt-1 ml-4">Search</button>
  
</form>